@using Capstone.Web.Models;
@model List<ParkModel>

@{
    ViewBag.Title = "Home";
    Layout = Url.Content("~/Views/Shared/_Layout.cshtml");
}

<img id="homePgMainImg" src="~/img/homePageMainImg.png" alt="National Park Geek">
<pre>
"Do not go where the path may lead; go instead
where there is no path and leave a trail."
~ Ralph Waldo Emerson
</pre>

<section>
    <h1 class="pageTitle">PARKS</h1>
    @{ 
        foreach (ParkModel p in Model)
        {
            <div>
                <img src= "@Url.Content("~/img/parks/" + p.ParkCode + ".jpg")" alt="@p.ParkName"/>
                <a href=@Url.Action("View", "Parks", new { parkCode = p.ParkCode })><h1>@p.ParkName</h1></a>
                <p>@p.ParkDescription</p>
            </div>
        }
    }
</section>

