<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css"/>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Cabin+Sketch" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Bevan" />
</head>
<body>
    <nav>
        <img id="navIcon" src="~/img/pineTreeIcon.png" alt="Pine Tree" />
        <ul>
            <li><a href=@Url.Action("Index", "Survey")>SURVEY</a></li>
            <li><a href=@Url.Action("Index", "Home")>HOME</a></li>
        </ul>
    </nav>
    <div>
        @RenderBody()
    </div>
</body>
</html>
<footer class="container">
    <p class="image">Capstone Project 3 &nbsp|&nbsp Ilona Seaman and Launa Greer</p>
    <div class="overlay">
        <div class="rickrolltext">Never gonna give you up, never gonna let you down, never gonna run around and desert you...</div>
    </div>
</footer>
