#navBar {
    margin-top: -280px;
    position: fixed;
    width: 100%;
}

#titleBarSection {
    background-color: tan;
}

nav {
    background-color: #58a1e8;
}

section {
    margin-top: 275px
}

#titleImg {
    width: 80%;
    margin-top: 50px;
    position: relative;
}

.surveyFormCtrlGrp {
    margin: 2% 0%;
}